// COLOR VARIABLES
$color-primary: #222427;

$color-secondary: #101d2c;
$color-secondary-primary: rgb(0, 0, 0);

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: rgb(210, 206, 206);

// FONT VARIABLES
$font-primary: "Nunito", sans-serif;

// SPACE BREAKPOINTS
$grid-gap: 0.2em;
$grid-height: 70em;
$space-sm: 4px;
$space-md: 8px;
$space-lg: 16px;

:export {
  primaryColor: $font-primary;
}
